.timerBoard {
  font-size: 2rem;
  font-weight: 1000;
  font-family: fantasy;
  color: var(--color-timer-board-text);
  text-shadow:
    var(--color-black) 0.3px 0.3px 2px,
    var(--color-black) -0.3px -0.3px;
  letter-spacing: 4px;
}

.timerBoard > span {
  color: var(--color-white);
  text-shadow:
    var(--color-black) 0.1px 0.1px 3px,
    var(--color-black) -0.1px -0.1px;
}

@media (min-width: 768px) {
  .timerBoard {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .timerBoard {
    font-size: 2.1rem;
  }
}
