@font-face {
  font-family: rick-morty;
  src: url('../../assets/get_schwifty.woff2');
}

.mainHeading {
  font-size: 2.7rem;
  font-weight: 1000;
  text-align: center;
  font-family: 'rick-morty';
  color: var(--color-white);
  text-shadow:
    var(--color-black) 1px 1px 3px,
    var(--color-black) -1px -1px;
  letter-spacing: 4px;
  word-spacing: 5px;
  line-height: 2;
}

.startGameContainer {
  width: 100%;
  min-height: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  padding: 2%;
  background-color: var(--color-start-game-bg);
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  overflow-y: scroll;
}

.howToPlay {
  width: 100%;
  max-width: 500px;
  background-color: var(--color-how-to-play-bg);
  color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 1rem;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 1rem;
  box-shadow: 0 2px 8px var(--color-how-to-play-box-shadow);
}

.howToPlay h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: fantasy;
  letter-spacing: 4px;
  color: var(--color-how-to-play-heading-text);
  text-align: center;
  text-decoration: underline;
}

.howToPlay ul {
  padding-left: 1.5rem;
  margin: 0;
}

.howToPlay li {
  margin-bottom: 0.5rem;
  font-family: fantasy;
  font-size: 1.1rem;
  font-weight: 1000;
  line-height: 1.5;
  color: var(--color-how-to-play-li-text);
  list-style-type: disc;
}

.howToPlay li::marker {
  color: var(--color-how-to-play-li-text);
  font-weight: 1000;
}

.gamePlay {
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
}

.gamePlay h2 {
  font-size: 4rem;
  font-weight: 1000;
  font-family: rick-morty;
  color: var(--color-white);
  text-shadow:
    var(--color-black) 1px 1px 3px,
    var(--color-black) -1px -1px;
  letter-spacing: 5px;
}

.startNewGame,
.resumePrevGame {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.startNewGame > h3 {
  font-size: 2rem;
  font-weight: 1000;
  font-family: rick-morty;
  color: var(--color-white);
  text-shadow:
    var(--color-black) 1px 1px 3px,
    var(--color-black) -1px -1px;
  letter-spacing: 4px;
  word-spacing: 5px;
  text-align: center;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.btnWrapper > button,
.resumeBtn {
  padding: 10px 20px;
  border-radius: 6px;
  border: 1.5px solid var(--color-start-game-btn-border);
  color: var(--color-white);
  letter-spacing: 2px;
  font-family: fantasy;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: var(--color-start-game-btn-bg);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btnWrapper > button:hover,
.resumeBtn:hover {
  border: 1.5px solid var(--color-black);
  color: var(--color-black);
  background-color: transparent;
  transform: scale(1.06);
}

@media (min-width: 768px) {
  .startNewGame > h2 {
    font-size: 4.5rem;
  }

  .btnWrapper > button {
    font-size: 2rem;
    padding: 12px 24px;
  }

  .howToPlay h2 {
    font-size: 2rem;
  }

  .howToPlay {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .mainHeading {
    font-size: 5rem;
  }
}
