.score_board {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-left: 15px;
}

.score_board > h3 {
  font-size: 1.5rem;
  font-weight: 1000;
  font-family: fantasy;
  color: #fff;
  text-shadow: #000 0.3px 0.3px 2px, #000 -0.3px -0.3px;
  letter-spacing: 4px;
}
.score_board span {
  display: inline-flex;
  color: #fff;
  gap: 2px;
  font-size: 1.9rem;
}

.btn_wrapper {
  margin-right: 30px;
  margin-left: -10px;
}

.mute_btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.mute_btn:hover {
  transform: scale(1.1);
}

.unmute,
.mute {
  width: 30px;
  height: 30px;
}

.unmute * {
  fill: #26e02a;
  color: #26e02a;
}

.mute * {
  fill: #880808;
  color: #880808;
}

/* UTILITY CLASSES */

.green_color {
  color: #26e02a !important;
}
.yellow_color {
  color: #dad72a !important;
}
.red_color {
  color: #d91d32 !important;
}

@media (min-width: 768px) {
  .score_board {
    margin-left: 0;
  }
  .score_board > h3 {
    font-size: 1.4rem;
  }
  .score_board span {
    gap: 5px;
    font-size: 3rem;
  }
  .btn_wrapper {
    margin-left: 50px;
  }
}

@media (min-width: 1024px) {
  .score_board {
    justify-content: flex-start;
    width: 70%;
  }
  .score_board > h3 {
    font-size: 2.1rem;
  }
  .unmute,
  .mute {
    width: 55px;
    height: 55px;
  }
}
