*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: #1a1a1a;
  line-height: 1.13;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  word-spacing: 2px;
  letter-spacing: 1.5px;
}

html {
  font-size: 8px;
  scroll-behavior: smooth;
}

html,
body,
#root,
main {
  height: 100%;
  width: 100%;
  overflow: auto;
}

#root,
main {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
}

#root {
  background-image: url('./assets/rick-and-morty-wallpaper-photo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 2.7rem;
  font-weight: 1000;
  text-align: center;
  font-family: 'rick-morty';
  color: #ffffff;
  text-shadow: #000 1px 1px 3px, #000 -1px -1px;
  letter-spacing: 4px;
  word-spacing: 5px;
  line-height: 2;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }

}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }

  h1{
  font-size: 5rem;
  }
}
